<h1>Health History</h1>
<h2>Home#index</h2>
<p>
    << Descricao do App >>     
</p>
  
<p> 
  Seu histórico de saúde disponível 24 horas por dia!
</p>

<p>
    Nosso app permite o registro histórico de todas as suas consultas médicas, exames e tratamentos.
</p>

<p>
    Também disponibilizamos o recurso que permitirá voce compratilhar estas informações com seu profissional de saude, 
    otimizando assim a visualização do seu historico médico, contribuindo para melhor eficácia no seu tratamento médico. 
</p>

  <%= link_to "Login", '#', method: :get  %>
  <br>
  <%= link_to "Criar conta", '#', method: :get %> 

