- flash.each do |type, msg|
  div class="alert alert-#{type} alert-dismissible status-alert pr-4"
    button.close.px-2 type="button" data-dismiss="alert" &times;
    span
      = msg
section#home-<%= plural_table_name.titleize.parameterize.underscore %>.<%= plural_table_name.titleize.parameterize.underscore %>
  .container-fluid
    .row.mt-3
      .col-12
        .card
          .card-header
            span.float-right
              = link_to "Adicionar #{@<%= plural_table_name %>.model_name.human}", new_<%= singular_table_name %>_path, :class => "btn btn-outline-secondary btn-sm text-uppercase float-right"
          .card-body.pt-2
            .row
              .col-12
                .table-responsive
                  table.table.table-striped.table-bordered.data-table.nowrap.w-100
                    thead
                      tr
                        th colspan="1"
<% attributes.reject(&:password_digest?).each do |attribute| -%>
                        th.text-uppercase.text-center = @<%= plural_table_name %>.human_attribute_name(:<%= attribute.name %>)
<% end -%>

                    tbody
                      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                        tr
                          td.py-0.align-middle.text-center
                            = link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => "text-info uppercase" do
                              = icon('fas', 'pencil-alt', class: 'strong')
                            = link_to <%= singular_table_name %>, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "text-danger uppercase ml-4" do
                              = icon('fas', 'trash', class: 'strong')
<% attributes.reject(&:password_digest?).each do |attribute| -%>
                          td.py-0.align-middle = <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
