<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudança de senha, você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa requisição, ignore esse email.</p>
<p>Sua senha não será alterada, a menos que você crie uma nova.</p>
