<p>Hello <%= @resource.email %>!</p>

<p>Requisitaram o link de mudança de senha, click abaixo para ser direcionado a página de alteração:</p>

<p><%= link_to 'Troque sua senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha requisitado ignore este e-mail.</p>
<p>Sua senha continuará a mesma se você não criar uma nova.</p>
